[run]
omit =
    **/__init__.py
    **/tests/**
    **/runner/**
    **/__pycache__/**
    **/htmlcov/**
    **/main.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
